[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
bs4 = "*"
english-dictionary = "*"
html5lib = "*"

[dev-packages]

[requires]
python_version = "3.10"
